/* Header*/
header {
    background-color: #3C5B6F;
    
}
/* Body */
body {
    background-color: #948979;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
}
.navbar {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.logo {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #ffcc00;
}

.img-logo-principal{
    width: 10%;
}

/* Enlaces del navegador */
.enlaces-navegador {
    font-family: Helvetica;
    font-weight: bold;
    text-align: end;
}

/*Sección de animales en adopcion*/
.adopcion{
    background-color: #153448;
}
h2,h3 {
    color:antiquewhite;
    text-align: center;
}
.fila {
    display: flex;
    border: 5px solid #0e1f2a;
    justify-content: center;
}
.fila img {
    width: 33%;
    padding: 5px;
}

/*Sección de animales adoptados con carrousel*/
.adoptados{

}
#carouselExample {
    display: flex;
    border: 5px solid;
    justify-content: center;
    width: 50%;
    margin: auto;
}
.carousel-item {

}
.carousel-item img {
    height: 50em;
    width: 80%
    object-fit: cover;
    overflow: hidden;
}


/* adoptame*/

.apadrinar-section {
    padding: 40px 0;
    background-color: #f9f9f9;
}

.button-enviar{
    margin-top: 10px;
}

.apadrinar-section .carousel-item img{
    height: 30em;
}

.apadrinar-section .carousel{
    margin-left: 7em;
}



/* Footer */

.footer {
    background-color: #222;
    color: #fff;
    padding: 40px 20px;
    box-sizing: border-box;
    width: 100%;

    
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    margin: 0 auto;
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

.footer p {
    margin-bottom: 5px;
}

.footer form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
   
}

.footer form button {
    background-color: #ffcc00;
    color: #222;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.footer form button:hover {
    background-color: #ffc100;
}


 img{ 
    width: 60%;
    text-align: center;
}

.img-logo{
    text-align: center;
}

.social-icons img {
    width: 40px; 
    margin: 0 5px; 

}

.social-icons{
    margin-top: 10px;
    text-align: center;
}

.footer-column-suscribirse{
    margin-top: 3em;
}

/* Media queries */

/*Pantallas hasta 470px */
@media screen and (max-width: 470px){
    .navbar {}
    .navbar .container {display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 20px;}
    .img-logo-principal {width: 60px ; max-height: 50px;}
    .adopcion {}
    .adoptados {}
    .adoptados .carousel-item {}
    .apadrinar-section {}
    .footer .container {flex-direction: column;}
}

/*Pantallas hasta 600px*/
@media screen and (min-width: 471px) and (max-width: 600px){
    .navbar {}
    .navbar .container {}
    .adopcion {}
    .adoptados {}
    .adoptados .carousel-item {}
    .apadrinar-section {}
    .footer .container {}
}

/*Pantallas hasta 900px*/
@media screen and (min-width: 601px) and (max-width: 900px){
    .navbar {}
    .navbar .container {}
    .adopcion {}
    .adoptados {}
    .adoptados .carousel-item {}
    .apadrinar-section {}
    .footer .container {align-content: center;}
}